https://data.giss.nasa.gov/gistemp/station_data/

In [26]:
%matplotlib inline
import pandas as pd
from glob import glob

In [34]:
def last_not_missing_year(filename):
    df = pd.read_table(filename, delim_whitespace=True, na_values=999.9).dropna()
    ser = df.iloc[-1, :13]
    ser.name = filename.split("/")[-1][:-4]
    return ser

In [49]:
last_years = [last_not_missing_year(filename) for filename in glob("/home/piotr/Downloads/weather_nasa/*.txt")]
df = pd.concat(last_years, axis=1).transpose()
df['YEAR'] = df['YEAR'].astype(int)

In [50]:
df

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
san_francisco,2016,11.5,13.9,14.3,15.7,16.3,17.4,17.2,17.7,18.2,17.4,14.6,10.4
london_gatwick,1997,2.3,6.5,8.7,9.2,12.3,15.4,17.3,20.0,14.8,10.8,8.7,6.4
cape_town,2000,23.1,23.3,21.4,19.0,17.1,15.5,15.4,15.6,15.4,18.6,20.9,21.3
sydney,2016,23.8,24.6,23.4,20.8,18.1,15.1,14.4,14.5,17.3,19.0,21.8,24.3
warsaw,2016,-2.9,3.6,4.2,9.7,16.1,19.5,20.0,18.8,16.4,7.6,3.2,1.3
jerusalem,1999,9.7,10.3,12.7,15.5,21.2,22.1,24.1,25.3,23.5,20.1,15.7,11.8
mexico,2016,14.0,15.6,17.5,20.3,20.6,18.1,17.6,18.2,17.8,16.8,14.9,16.0
toronto,2000,-5.8,-3.1,4.5,6.7,14.3,18.2,20.1,20.6,15.9,11.2,3.6,-7.2

In [51]:
df.to_csv("city_temp.csv")